<!--Modal Reservation-->
<div>
    <!--Header-->
    <div class="modal-header">
        <h4 class="modal-title w-100">New Event</h4>
    </div>
    <!--Body-->
    <br/>
    <div class="row">
        <!--First column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="text" id="form22" class="form-control">
                <label for="form22">Case Number</label>
            </div>
        </div>
        <!--First column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="text" id="form35" class="form-control">
                <label for="form35">Court Name</label>
            </div>

        </div>
    </div>
    <div class="row">
        <!--First column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="text" id="form32" class="form-control">
                <label for="form32">Filing Date</label>
            </div>
        </div>
        <!--First column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="text" id="form34" class="form-control">
                <label for="form34">Previous Date</label>
            </div>
        </div>
    </div>


    <div class="md-form">
        <input type="text" id="form33" class="form-control">
        <label for="form33">Nature of Suite</label>
    </div>





    <div class="md-form">
        <input type="text" id="form36" class="form-control">
        <label for="form36">Name of the Party</label>
    </div>

    <div class="md-form">
        <input type="text" id="form37" class="form-control">
        <label for="form37">Appering For</label>
    </div>

    <div class="md-form">
        <select class="mdb-select" multiple>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>
<label>Example label</label>
        <select class="mdb-select" id="form38">
            <option value="Judgement">Judgement</option>
            <option value="Favour">Favour</option>
            <option value="Non Favour">Non Favour</option>
        </select>
        <!--<//input type="text"  >-->
        <label for="form38">Stage</label>
    </div>

    <div class="md-form">
        <input type="text" id="form39" class="form-control">
        <label for="form39">Citation</label>
    </div>

    <!--Basic textarea-->
    <div class="md-form">
        <textarea type="text" id="form40" class="md-textarea"></textarea>
        <label for="form40">Description</label>
    </div>

    <!--Basic textarea-->
    <div class="md-form">
        <textarea type="text" id="form41" class="md-textarea"></textarea>
        <label for="form41">Remarks</label>
    </div>
    <!--Footer-->
    <div>
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-info">Close</button>
    </div>
</div>
<!--/Modal Reservation-->


<!--<div class="container-fluid text-center">-->
    <!--<div class="col-sm-2 text-center">-->
    <!--</div>-->
    <!--<div class="col-sm-8 text-center">-->
        <!--<form id="eventForm" method="post" class="form-horizontal">-->
            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Case Number</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="case_id" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Filing Date</label>-->
                <!--<div class="col-xs-5 date">-->
                    <!--<div class="input-group input-append date" id="filingDatePicker">-->
                        <!--<input type="text" class="form-control" name="filingDate" />-->
                        <!--<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Nature of Suite</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="nature_of_suite" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Previous Date</label>-->
                <!--<div class="col-xs-5 date">-->
                    <!--<div class="input-group input-append date" id="previousDatePicker">-->
                        <!--<input type="text" class="form-control" name="previousDate" />-->
                        <!--<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Court Name</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="court_name" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Name of the Party</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Appering For</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Stage</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Citation</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Description</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="col-xs-3 control-label">Remarks</label>-->
                <!--<div class="col-xs-5">-->
                    <!--<input type="text" class="form-control" name="parties" />-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<div class="col-xs-5 col-xs-offset-3">-->
                    <!--<button type="submit" class="btn btn-custom btn-success">Save</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

