<div>
    <form name="newEventForm" novalidate ng-submit="vm.addNewEvent()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Event</h2>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="clientfrmctrl.cancel()">-->
                    <!--<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>-->
                <!--</md-button>-->
            </div>
        </md-toolbar>
        <div layout-padding layout="column" ng-cloak="">
            <md-card>
                <md-dialog-content>
                    <br/>
                    <div layout-gt-sm="row">
                        <!-- CASE NUMBER -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Case Number</label>
                            <input required name="case_number" ng-model="vm.newEvent.case_number" class="dialog-close">
                            <div ng-messages="newEventForm.case_number.$error">
                                <div ng-message="required">This is required.</div>
                                <!--<div ng-message="md-maxlength"></div>-->
                            </div>
                        </md-input-container >

                        <!-- COURT NAME -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Court Name</label>
                            <input required name="court_name" ng-model="vm.newEvent.court_name" class="dialog-close">
                            <div ng-messages="newEventForm.court_name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <!-- APPEARING FOR -->
                        <md-autocomplete flex required
                            md-selected-item="vm.selectedAppFor"
                            md-search-text="vm.searchAppForText"
                            md-items="item in vm.appForQuerySearch(vm.searchAppForText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            md-floating-label="Appearing For">
                            <md-item-template>
                                <span md-highlight-text="vm.searchAppForText"
                                      md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matching were found.
                            </md-not-found>
                        </md-autocomplete>

                        <!-- STAGE -->
                        <md-autocomplete flex required
                            md-selected-item="vm.selectedStage"
                            md-search-text="vm.searchStageText"
                            md-items="item in vm.StageQuerySearch(vm.searchStageText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            md-floating-label="Stage">
                            <md-item-template>
                                <span md-highlight-text="vm.searchStageText"
                                      md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matching were found.
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <div layout-gt-sm="row">
                        <!-- FILING DATE -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Filing Date</label>
                            <md-datepicker name="filing_date" ng-model="vm.newEvent.filing_date" class="dialog-close"></md-datepicker>
                        </md-input-container>

                        <!-- PREVIOUS DATE -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Previous Date</label>
                            <md-datepicker name="previous_date" ng-model="vm.newEvent.previous_date" class="dialog-close"></md-datepicker>
                        </md-input-container>
                        <!-- CITATION -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Citation</label>
                            <input required name="citation" ng-model="vm.newEvent.citation" class="dialog-close">
                            <div ng-messages="newEventForm.citation.$error">
                                <div ng-message="required">This is required.</div>
                                <!--<div ng-message="md-maxlength"></div>-->
                            </div>
                        </md-input-container >
                    </div>
                    <div>
                        <!-- DESCRIPTION -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Description</label>
                            <textarea name="description" ng-model="vm.newEvent.description" md-maxlength="300" rows="1" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <div>
                        <!-- REMARKS -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Remarks</label>
                            <textarea name="remarks" ng-model="vm.newEvent.remarks" md-maxlength="300" rows="1" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <label><h3>Name of the Parties</h3></label>
                    </div>
                    <div>
                        <table class="table table-striped table-bordered" data-ng-if="vm.newEvent.parties.length>0">
                            <thead>
                                <tr>
                                    <th><md-checkbox aria-label=select_all" ng-model="vm.selectedAll" ng-click="vm.checkAll()"></md-checkbox></th>
                                    <th>Name</th>
                                    <th>Mobile Number</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="party in vm.newEvent.parties track by $index">
                                    <td>
                                        <md-checkbox aria-label="party.name" ng-click="vm.updateSelectedAll($index, party.selected)"  ng-model="party.selected"></md-checkbox>
                                    </td>
                                    <td>
                                        <input name="name" type="text" ng-model="party.name" class="dialog-close">
                                    </td>
                                    <td>
                                        <input name="mobile" type="text" ng-model="party.mobile" class="dialog-close" pattern="^[789]\d{9}$">
                                        <div ng-messages="newEventForm.mobile.$error">
                                            <div ng-message="pattern">invalid format</div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" name="email" ng-model="party.email" class="dialog-close" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$">
                                        <div ng-messages="newEventForm.email.$error">
                                            <div ng-message="pattern">invalid format</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <md-button class="md-raised md-warn pull-right" data-ng-show="vm.newEvent.parties.length>0" ng-click="vm.removeParty()">Remove</md-button>
                            <md-button class="md-raised md-primary pull-right" ng-click="vm.addParty()">Add Party</md-button>
                        </div>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row" layout-align="end">
                    <md-button ng-disabled="newEventForm.$invalid" type="submit" class="md-primary">
                        Save
                    </md-button>
                    <md-button ng-click="vm.cancel()" type="button">
                        Cancel
                    </md-button>
                </md-dialog-actions>
            </md-card>
        </div>
    </form>
</div>



